<launch>
  <node pkg="ga_slam_visualization" type="ga_slam_visualization" name="ga_slam_visualization" output="screen" />

  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find ga_slam_visualization)/config/ga_slam_visualization.yaml" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ga_slam_visualization)/rviz/ga_slam_visualization.rviz"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher"/>

  <param name="robot_description" command="cat $(find ga_slam_visualization)/urdf/hdpr.urdf" />
</launch>

